@import "./variables";
@import "./sidebar";
@import "./wishes";
@import "./finances";
@import "./collectables";

body.thumb {
  transform: scale(0.4);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

p {
  margin-bottom: 0px;
}

.app-container {
  height: 100vh;
}

.main-content {
  padding: 25px 30px;
  width: 100%;
}
